.padding-bottom-1x{
    margin-bottom: 1rem !important;
}

.padding-bottom-2x{
    margin-bottom: 2rem !important;
}

.padding-bottom-3x{
    margin-bottom: 3rem !important;
}

img .is-rounded{
    border-radius: 50%;
}
