.padding-bottom-1x {
    margin-bottom: 1rem !important;
}

.padding-bottom-2x {
    margin-bottom: 2rem !important;
}

.padding-bottom-3x {
    margin-bottom: 3rem !important;
}

.padding-top-2x {
    margin-top: 2rem !important;
}

.has-padding-2x {
    padding: 2rem !important;
}

.padding-bottom-2x-mobile {
    @media(max-width: 768px) {
        margin-bottom: 2rem !important;
    }
}

.padding-top-2x-mobile {
    @media(max-width: 768px) {
        padding-top: 2rem !important;
    }
}

img .is-rounded {
    border-radius: 50%;
}

.is-grayscale {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.is-borderless {
    border: none !important;
    &:focus {
        outline: 0;
    }
}

.has-text-shadow{
    //text-shadow: 0 0 3px rgba(0,0,0,.8);
}

.is-semi-rounded {
    overflow: hidden;
    border-radius: 5px !important;
}

.is-shadowed {
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1), 0 17px 50px rgba(0, 0, 0, 0.1);
}

.has-border-bottom-gray {
    border-bottom: solid 1px #d4d4d4;
}

.has-border-top-gray-light {
    border-top: solid 1px #fafafa;
}

.has-border-bottom-gray-lighter {
    border-bottom: solid 1px #e0e0e0;
}

.has-border-top-gray-lighter {
    border-top: solid 1px #e0e0e0;
}

.has-border-bottom-gray-light {
    border-bottom: solid 1px #fafafa;
}

.has-padding-top-2x-mobile {
    @media(max-width: 768px) {
        padding-top: 2rem !important;
    }
}

.is-flex {
    display: flex;
}

.is-centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

// limit line length to ~45 characters
.is-measure-narrow {
    max-width: 20em;
}

// limit line lengths to ~45 characters
.is-measure {
    max-width: 30em;
}

// limit line lengths to ~80 characters
.is-measure-wide {
    max-width: 34em;
}

$generic-social-media-color: #4f6398;
.has-text-evilcorp {
    color: $generic-social-media-color !important;
}

.has-text-kickstarter{
    color: rgb(3, 71, 82) !important;
}

.is-size-0{
    font-size: 5rem;
}

.is-height-100{
    height: 100%;
}


